body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(auto, 700px);
}

/* tablet */

@media screen and (min-width: 620px) {
  body {
    display: grid;
    font-size: 1.2rem;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, 700px);
  }
}

/* desktop */

@media screen and (min-width: 1000px) {
  body {
    display: grid;
    font-size: 1.3rem;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(auto, 700px);
  }
}
form {
  width: 15rem;
  height: 15rem;
  align-self: center;
  justify-self: center;
  background: rgba(192, 192, 192, 0.158);
  border-radius: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: grid;
  
  border: 1px solid rgba(128, 128, 128, 0.267);
}
h3{
    text-align: center;
}
input{
    border-radius: 0.5rem;
    border: 1px solid rgba(128, 128, 128, 0.267);
    outline: none;
    margin: 2%;
    padding: 1%;
}
input:focus{
    border: 1px solid rgba(0, 119, 255, 0.856);
}
button{
    border: none;
    outline: none;
    box-shadow: none;
    background: var(--success);
    color: white;
    border-radius: 0.5rem;
    margin: 2%;
    height: 2.5rem;
}

button:disabled{
    background: rgba(0, 119, 255, 0.418)
}