
body {
    display: grid;
    grid-template-columns: minmax(400px, 620px);
    grid-template-rows: minmax(auto, 700px);
  }

/* tablet */
  
@media screen and (min-width: 620px) {
    body {
      font-size: 1.2rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: minmax(auto, 700px);
    }
  }
  
  /* desktop */
  
  @media screen and (min-width: 1000px) {
    body {
      font-size: 1.3rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: minmax(auto, 700px);
    }
  }
form{
    width: 50%;
    height: 70%;
    align-self: center;
    justify-self: center;
}

