header{
    display: grid;
    grid-template-columns: minmax(auto, 400px) minmax(auto, 1600px) minmax(auto, 400px);
    grid-template-rows: 85%;
    background-color: lightcoral;
    justify-content: center;
    align-content: center;
}
main{
    display: grid;
    grid-template-columns: minmax(auto, 2400px);
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
}
footer{  
    display: grid;
    grid-template-columns: minmax(auto, 2400px);
    align-content: center;
    justify-content: center;
    align-content: center;
    justify-content: center;
}
